.container {
	margin: 0 auto;
	padding: 0 16px;
	/* width: 100%; */
}

@media screen and (min-width: 968px) {
	width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 1280) {
	width: calc((100% - 3 * 30px) / 4);
	padding-bottom: 30px;
}
