.cardContainer {
	width: 100%;
	/* border-radius: 24px; */
	/* padding: 40px; */
	/* background-color: var(--white); */
}

.imageThumb {
	max-height: 260px;
	margin-bottom: 16px;
	width: 100%;
	border-radius: 14px;
	text-align: center;
	overflow: hidden;
}
.image {
	width: 100%;
	object-fit: cover;
}

.info {
	display: flex;
	gap: 16px;
	flex-direction: column;
}

.generalInfo {
	display: flex;
	flex-direction: column;

	gap: 14px;
}
.title {
	font-size: 18px;
	line-height: 20px;
	font-weight: var(--fw-medium);
}
.accent {
	color: var(--btn-light);
}
